/* COLOR VARIABLES */

:root {
    --orange: #f25f4c;
    --fucsia: #e53170;
    --white: #fffffe;
}

/* UTILITIES */

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 2px dashed turquoise;
}


/* GENERAL */

body {
    background-color: var(--orange);
}

.game-container {
    width: 45rem;
    aspect-ratio: 5 / 3;
    margin: 3rem auto;
    background-color: var(--white);
    border-radius: 2rem;
}


p:first-child {
    color: var(--fucsia);
}

#submit-numbers {
    display: none;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

button {
    padding: 0.3rem 0.5rem;
    text-decoration: none;
    background-color: var(--fucsia);
    color: var(--white);
    border-radius: 0.5rem;
    border: none;
    margin: 0 auto;
}

#alert {
    padding-bottom: 2rem;
}