/* COLOR VARIABLES */

:root {

}

/* GENERAL*/

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 2px dashed turquoise;
}

img {
    width: 100%;
}

#submit-numbers {
    display: none;
    /* background-color: green;
    color: white;
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem; */
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}